<!--エラーメッセージ-->　
<%= render 'books/error', book: @book %>

<!--プロフィール-->
<%= render 'books/profile', user: @user %>

<!--投稿フォーム-->
<%= render 'books/newbook', newbook: @newbook %>

<!-- ユーザー一覧 -->
<% @users.each do |user| %>
<div>
    <%#= image_tag @user.get_image %>
  <p>image：<%= image_tag user.get_profile_image(100,100) %></p>
  <p>name：<%= user.name %></p>
  <p>introduction : <%= user.introduction %></p>
  <p><%= link_to "show", user_path(user.id) %></p>
</div>
<% end %>