<!--エラーメッセージ-->　
<%= render 'books/error', newbook: @newbook %>

<!--プロフィール-->
<%= render 'books/profile', user: @user %>

<!--投稿フォーム-->
<%= render 'books/newbook', newbook: @newbook %>

<!-- ログイン中のユーザーの投稿一覧 -->
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>
  <p>Title：
    <%= link_to book_path(book.id) do %>
    <%= book.title %>
    <% end %>
  </p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>

