<!--フラッシュメッセージ-->
<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--プロフィール-->
      <%= render 'books/profile', user: @user %>

      <!--投稿フォーム-->
      <%= render 'books/newbook', newbook: @newbook %>
    </div>
    <div class="offset-md-1"></div>
    <div class="col-md-8">
      <!-- ログイン中のユーザーの投稿一覧 -->
      <h2>Books</h2>
        <table class="table">
          <tr>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
          <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
              <%= book.title %>
              <% end %>
            </td>
            <td>Opinion：<%= book.body %></td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>

