<!--エラーメッセージ-->　
<%= render 'error', book: @book %>

<!--プロフィール-->
<div>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <p>name：<%= @book.user.name %></p>
  <p>introduction：<%= @book.user.introduction %></p>
  <% if @book.user == current_user %>
    <p><%= link_to "編集", edit_user_path %></p>
  <% end %>
</div>

<!--投稿フォーム-->
<%= render 'newbook', newbook: @newbook %>

<!--投稿一覧-->
<div>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%#= image_tag 'sample-author1.jpg' %></p>
  <p>name：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>